.gameboard > header {
  padding: 10px;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 70px;

  & > * {
    padding: 5px;
  }

  & button {
    font-size: 1rem;
    border: outset 5px lightblue;
    background-color: rgb(164, 206, 220);
    border-radius: 5px;
    cursor: pointer;
  }

  & .scorecard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.playcard-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  background-color: green;
  perspective: 1000px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 720px) {
  .gameboard > header {
    grid-template-columns: 1fr;
    gap: 10px;
    min-height: 40px;

    & .placeholder {
      display: none;
    }

    & .slider-option-input {
      & input {
        width: 100%;
      }
    }

    & button {
      width: 150px;
      justify-self: center;
    }
  }
}
