.playcard-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  background-color: green;
}

.gameboard > header {
  padding: 5px;
  background-color: black;
  color: white;

  & > * {
    padding: 5px;
  }
}
