.playcard {
  background: lightgray;
  border-radius: 5px;
  box-shadow: 5px 5px 2px 1px grey;
  position: relative;
  width: 150px;
  height: 200px;
  border: 1px solid black;
  transform-style: preserve-3d;
  animation: flipOnLoad 0.6s ease-in forwards;

  & .playcard-front {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);

    &:hover {
      cursor: pointer;
    }

    & > *:not(.cross) {
      width: 98px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 5px;
      background-color: white;
    }
  }

  & .playcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@keyframes flipOnLoad {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: red;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
