:root {
  text-align: center;
  font-size: 16px;
}

.app {
  width: 700px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;

  & h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  & > *:not(.gameboard) {
    padding: 5px;
  }
}
