@font-face {
  font-family: Roboto;
  src: url(../src/assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.app {
  width: 700px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgreen;

  & > header {
    & h1 {
      font-size: 2rem;
      font-weight: 800;
    }

    & > *:not(.gameboard) {
      padding: 5px;
    }

    & section {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 10px;
      padding: 10px;
      text-align: left;

      & .instructions {
        & span {
          text-decoration: underline;
        }
      }
      & .instruction-list {
        text-decoration: none;
      }
    }
  }
}
